body{
    background-image: url(https://image.freepik.com/photos-gratuite/plein-cadre-photo-fond-cuir-marron_23-2147951253.jpg);
    background-size: cover;
}


.container-2{
    border: 1px solid;
    margin: 30px 282px;
    padding: 10px;
    background-image: url(../img/or.jpg);
}

.img{
    text-align: center;
}

h2{
  text-align: center;
}


@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

$initial-header-height : 7.5em;
$scrolling-header-height : 5.5em;

$menu-active-background : #D36943;
$menu-active-color : #fff;

* {
  box-sizing:border-box;
}

.container {
  width: 100%;
  max-width: 40em;
  min-width:12em;
  padding: 0 1.25em;
  margin: 0 auto;
}

.header .container {
  height: 100%;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 80px;
  text-align: center;
  background-image: url(../img/rouge.jpg);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition-timing-function: cubic-bezier( 0.215, 0.610, 0.355, 1.000 ) ;
  transition-duration: .7s;
  transition-property: height, top;
  box-shadow : rgba(30,50,50,.25) 0 0.05em 0.5em;
  &.scrolling{
    height: $scrolling-header-height;  
  }
  &.hide{
    top:-$scrolling-header-height;   
  }
}

.header nav {
  height: 100%;
  display: table;
  float: right;
}

nav ul {
  list-style: none;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}

li {
    display: inline-block;
    overflow:hidden;
    position:relative;
    margin-left:.625em;
}

a {
    transition-duration: .3s;
    transition-delay: 0s;
    transition-property: color;
    height: 50px;
    line-height: 50px;
    display: block;
    padding: 0 0.625em;
    color: rgba(240, 255, 30, 0.788);
    text-decoration: none;
    z-index:1;
}

&:before {
    content:'';
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:-1;
    transition-duration: .5s;
    transition-property: transform;
    transform: translateY(200%);
}
&:hover:before{
    background-color: lighten($menu-active-background, 30);
    transform: translateY(0%);
}
&.active:before{
    background-color: $menu-active-background;
    transform: translateY(0%);
}
    
&.active a {
    font-weight:bold;
}
    
&:hover a,
&.active a {
    transition-delay: .1s;
    color: $menu-active-color;
}