.container{
    border: 3px solid;
    margin: 10px 10px;
    padding: 10px;
}

.centre{
    text-align: center;
}

#image{
    vertical-align: center;
    margin-left: 40%;
    padding: 10px;
}

#button-img{
    background-color: #C1EEEE;
    height: 2em;
    width: 5em;
}